<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Color Web App</title>
    <style>
        body {
            background-color: {{ color }};
            text-align: center;
            padding: 100px;
        }
        h1 {
            color: white;
            font-size: 2em;
        }
    </style>
</head>
<body>
    <h1>Color Web App</h1>
    <p>Click the button to change the site color!</p>
    <button onclick="location.reload();">Change Color</button>
</body>
</html>

